body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1 0 auto;
    justify-content: space-between;

}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}



.awesome-container {
    display: flex;
    gap: 40px;
    justify-items: space-around;
    padding: 50px 0px;
    max-width: 1000px;

}

.awesome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
}

.awesome h2 {
    margin: 0px;
}

.awesome p {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0px;
}

.header button {
    max-width: 80px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    padding: 4px 8px;
    color: white;
    font-weight: bold;
}

ul li,
a {
    text-decoration: none;
    list-style: none;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-end;
}

.sign-up-top {
    display: flex;
    flex-direction: column;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 14px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.images {
    display: flex;
    justify-content: center;
    flex: auto;
}



.nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
}

.awesome-container img {
    height: 200px;
}

.info {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.info h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 0px;
}

.info p {
    font-size: 18px;
    color: #1f2937;
    font-weight: normal;
    margin: 0px;
}

.info img {
    width: 200px;
}

.images {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    max-width: 1000;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-style: italic;
    color: #1F2937;
    height: 500px;
    padding: 80px 200px;
}

.quote h2 {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    flex-wrap: wrap;
    font-size: 18px;
}

.quote h1 {
    display: flex;
    margin: 0px;
    font-size: 36px;
    font-weight: normal;
    flex-wrap: wrap;
}

.blue {
    background: #3882f6;
    display: flex;
    margin: 80px;
    border-radius: 5px;
    align-items: center;
    padding: 20px 80px;
    gap: 80px;
}

.blue h3,
.blue p {
    display: flex;
    flex-wrap: wrap;
    color: #E5E7EB;
}

.blue p,
.blue h3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    margin: 0px;
}

.divide {
    height: 20px;
    display: flex;
}

.blue button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 16px;
}

.sign-up-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.stack {
    display: flex;
    flex-direction: column;
}